.layout {
    display: grid;
    grid: auto minmax(0, 1fr) / 100%;
    inline-size: 100%;
    block-size: 100%;
    overflow: clip;
    background-color: var(--surface-1);

    .menu {
        view-transition-name: menu;
        display: grid;
        grid-template-columns: auto minmax(0, 1fr) auto;
        grid-auto-flow: column;
        justify-content: start;
        place-items: center start;
        position: relative;
        z-index: 10;

        gap: .5em;
        padding-inline: 1em;
        block-size: calc(env(titlebar-area-height, 2em) + .5px);
        inline-size: env(titlebar-area-width, 100%);
        -webkit-app-region: drag;

        background-color: var(--surface-3);
        color: var(--text-1);

        & > * {
            -webkit-app-region: no-drag;
        }

        & > .logo {
            inline-size: 3em;
            block-size: 3em;
            padding: .5em;
            margin-block-end: -1em;
            background-color: inherit;
            color: inherit;
            border-radius: .25em;

            & > picture {
                display: contents;

                & > img {
                    inline-size: 100%;
                    block-size: 100%;
                }
            }
        }

        & .right {
            display: grid;
            grid-auto-flow: column;
            align-content: center;
        }
    }

    & > section {
        display: grid;
        grid: 100% / 100%;
        inline-size: 100%;
        block-size: 100%;
        overflow: clip;
        view-transition-name: content;
    }
}

.error {
    display: grid;
    place-content: center;

    background: repeating-linear-gradient(-45deg,
            color(from var(--fail) xyz x y z / .05),
            color(from var(--fail) xyz x y z / .05) 10px,
            color(from var(--fail) xyz x y z / .25) 10px,
            color(from var(--fail) xyz x y z / .25) 12px,
            color(from var(--fail) xyz x y z / .05) 12px);
    color: var(--text-2);
    border: 1px solid var(--fail);
    border-radius: var(--radii-m);

    margin: var(--padding-l);
}

@keyframes slide-left {
    from {
        translate: 0% 0;
    }

    to {
        translate: -100% 0;
    }
}

@keyframes slide-right {
    from {
        translate: 100% 0;
    }

    to {
        translate: 0% 0;
    }
}

/* ::view-transition-old(menu),
::view-transition-new(menu) {
    z-index: 1;
} */

::view-transition-old(content) {
    animation-name: slide-left;
}

::view-transition-new(content) {
    animation-name: slide-right;
}