.textarea {
    resize: vertical;
    min-block-size: max(2em, 100%);
    max-block-size: 50em;

    background-color: var(--surface-600);
    color: var(--text-1);
    border-color: var(--text-2);
    border-radius: var(--radii-s);

    &:has(::spelling-error, ::grammar-error) {
        border-color: var(--fail);
    }

    & ::spelling-error {
        outline: 1px solid var(--fail);
        text-decoration: yellow underline;
    }
}