.root {
    display: grid;
    grid: 100% / auto minmax(0, 1fr);
    inline-size: 100%;
    block-size: 100%;

    & .sidebar {
        z-index: 1;
        padding: var(--padding-xl);
        background-color: var(--surface-300);

        & > ul {
            padding: 0;
            margin: 0;
        }
    }

    & .content {
        background-color: var(--surface-500);
        border-top-left-radius: var(--radii-xl);

        & > header {
            padding-inline-start: var(--padding-l);
        }
    }

    :is(details, div):has(.mutated) > :is(summary, span:has(.mutated)) {
        color: var(--warn);

        &::after {
            content: ' •';
        }
    }
}

.blank {
    display: grid;
    place-content: center;
    place-items: center;
    grid-auto-flow: column;
    gap: var(--padding-l);
    inline-size: 100%;
    block-size: 100%;

    & > svg {
        padding-inline-end: 3em;
        margin-inline-end: 3em;
        border-inline-end: 2px solid var(--surface-300);
    }

    & > button {
        background-color: var(--surface-400);
        color: var(--text-1);
        padding: var(--padding-l) var(--padding-xl);
        border: none;
        border-radius: var(--radii-m);
        cursor: pointer;
    }
}