.root {
    display: grid;
    grid: 100% / auto minmax(0, 1fr);
    inline-size: 100%;
    block-size: 100%;

    & .sidebar {
        z-index: 1;
        padding: var(--padding-l);
        background-color: var(--surface-2);

        & > ul {
            padding: 0;
            margin: 0;
        }
    }

    .mutated {
        color: var(--warn);

        &::after {
            content: ' •';
        }
    }
}