section.index {
    display: grid;
    grid: 100% / auto 1fr;
    inline-size: 100%;
    block-size: 100%;

    & > aside {
        overflow: clip auto;
        resize: horizontal;

        min-inline-size: 300px;
        max-inline-size: 75vw;
        block-size: 100%;
        padding: 1em;
        padding-block-start: 1.5em;
        padding-inline-end: 1em;
    }

    & > section {
        padding-inline: 1em;
    }
}