
.menu-root {
    & > div {
        display: contents;
    }

    .item {
        border: none;
        background: none;
    }
    
    .child {
        position: fixed;
        grid-auto-flow: row;
        gap: .5em;
        padding: .5em 0;
        
        inset-inline-start: anchor(start);
        inset-block-start: anchor(end);

        border: none;
        margin: unset;

        &:popover-open {
            display: grid;
        }
    }
}
