.picker {
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: inherit;
    border: 1px solid transparent;
    border-radius: var(--radii-m);
    padding: var(--padding-s);

    & select {
        flex: 1 1 auto;
        border: none;
        background-color: inherit;
        border-radius: var(--radii-m);

        &:focus {
            outline: none;
        }
    }

    &:has(:focus-visible) {
        border-color: var(--info);
    }
}

.hue {
    display: flex;
    flex-flow: row;
    align-items: center;
}