.root {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0;

    & details {
        & > summary::marker {
            content: none;
            color: var(--text-1) !important;
        }

        & span {
            cursor: pointer;
        }
    }

    & ul {
        padding-inline-start: 1.25em;
    }

    & span {
        white-space: nowrap;
    }
}