.prompt {
    display: grid;
    gap: var(--padding-m);
    padding: var(--padding-m);
    background-color: var(--surface-1);
    color: var(--text-2);
    border: 1px solid var(--surface-5);
    border-radius: var(--radii-m);

    &:not(&[open]) {
        display: none;
    }

    &[open]::backdrop {
        background-color: color(from var(--surface-1) xyz x y z / .3);
        backdrop-filter: blur(.25em);
    }

    & > form {
        display: contents;

        & > header > .title {
            font-size: var(--text-l);
            color: var(--text-1);
        }

        & > footer {
            display: flex;
            flex-flow: row;
            justify-content: end;
            gap: var(--padding-m);
        }
    }
}