.root {
    display: grid;
    grid: auto 1fr / 100%;

    & > button {
        display: flex;
        flex-flow: row;
        gap: var(--padding-s);
        align-items: center;
        inline-size: max-content;
        padding: 0;
        background-color: transparent;
        color: var(--text-1);
        border: none;
        font-size: var(--text-l);
    }

    & > .content {
        overflow: auto clip;
    }

    &.open > .content {
        min-inline-size: 10em;
        inline-size: max-content;
    }

    &.closed > .content {
        inline-size: 0;
    }
}