.root {
    display: grid;
    grid: 100% / auto minmax(0, 1fr);
    inline-size: 100%;
    block-size: 100%;

    & .sidebar {
        z-index: 1;
        padding: var(--padding-xl);
        background-color: var(--surface-300);
        max-inline-size: 25vw;
        overflow: auto;

        & > ul {
            padding: 0;
            margin: 0;
        }

        & fieldset {
            display: flex;
            flex-flow: column;
            gap: var(--padding-m);
        }

        ol {
            margin-block: 0;
        }
    }

    & .content {
        display: block grid;
        grid: 1fr 1fr / 100%;
        background-color: var(--surface-500);
        border-top-left-radius: var(--radii-xl);
        padding: var(--padding-m);

        & .table {
            border-radius: inherit;
        }

        & > fieldset {
            border-radius: var(--radii-l);
            overflow: auto;
            background-color: inherit;
        }
    }
}