@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,GRAD@8..144,400,45;8..144,400,50;8..144,1000,0&family=Roboto+Serif:opsz,GRAD@8..144,71&display=swap");

:root {
  --surface-1: light-dark(#ddd, #222);
  --surface-2: light-dark(#e8e8e8, #282828);
  --surface-3: light-dark(#eee, #333);
  --surface-4: light-dark(#f8f8f8, #383838);
  --surface-5: light-dark(#fff, #444);
  --text-1: light-dark(#222, #eee);
  --text-2: light-dark(#282828, #d8d8d8);
  --primary: light-dark(#41c6b3, #6be8d6);

  color: var(--text-1);
  accent-color: var(--primary);

  --info: light-dark(oklch(.71 .17 249), oklch(.71 .17 249));
  --fail: light-dark(oklch(.64 .21 25.3), oklch(.64 .21 25.3));
  --warn: light-dark(oklch(.82 .18 78.9), oklch(.82 .18 78.9));
  --succ: light-dark(oklch(.86 .28 150), oklch(.86 .28 150));

  --radii-s: .125em;
  --radii-m: .25em;
  --radii-l: .5em;

  --text-s: .8rem;
  --text-m: 1rem;
  --text-l: 1.25rem;
  --text-xl: 1.6rem;
  --text-xxl: 2rem;

  --padding-s: .25em;
  --padding-m: .5em;
  --padding-l: 1em;
}

html {
  inline-size: 100%;
  block-size: 100%;
  overflow: clip;
}

body {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  overflow: clip;

  display: grid;
  grid: 100% / 100%;

  background-color: var(--surface-1);
  color: var(--text-2);

  margin: 0;

  font-family: Roboto Flex, sans-serif;

  * {
    box-sizing: border-box;

    &:focus-visible {
      outline: 1px solid var(--info);
    }
  }
}

a {
  color: var(--primary);
}

h1 {
  color: var(--text-1);
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
}

p {
  line-height: 1.35;
}